/* Body styling */
body {
    background-color: #121212;
    /* Darker black for a professional look */
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    margin-top: px;
}

/* Heading 1 styling */
h1 {
    font-family: 'Trebuchet MS', sans-serif;
    text-align: center;
}

/* Heading 2 styling */
h2 {
    font-family: 'Trebuchet MS', sans-serif;
}

/* Anchor (Link) styling */
a {
    margin: 0;
    color: #b7b7b7;
    text-decoration: underline;
}

/* Iframe styling */
iframe {
    border: 0;
}

.selected {
    font-weight: bold;
}

.center {
    text-align: center;
}

.disabled {
    color: rgba(255, 255, 255, 0.406);
}

/* Info box styling */
.infobox {
    margin: 10px;
    padding: 15px;
    padding-top: 0px;
    border-radius: 20px;
    background-color: #1a1a1a;
    /* Darker black for a professional look */
    border: 3px solid #474b4e;
    text-align: left;
}

.card {
    margin: 10px;
    padding: 0px;
    padding-top: 0px;
    border-radius: 20px;
    background-color: #232424;
    /* Darker black for a professional look */
    border: 3px;
    text-align: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 50px;
}

.card img {
    height: 200px;
    width: 100%;
    padding-right: 5%;
    object-fit: cover;
}

.card .text {
    padding: 10px;
    padding-top: 0px;
}

/* Additional styles for the overlay image */
.overlay-image {
    width: 100%;
    max-height: 90vh;
    overflow: hidden;
    margin-top: -10%;
    position: relative;
    /* Añadido para posicionar correctamente el h1 */
}

.overlay-image img {
    width: 100%;
    height: auto;
    /* Ajustado para mantener la relación de aspecto */

}

.overlay-image h1 {
    position: absolute;
    top: 50%;
    /* Centrado verticalmente */
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 5em;
    z-index: 2;
    margin-top: 10px;
    /* Ajusta este valor según sea necesario */
}

.content-container {
    display: flex;
    gap: 20px;
    max-width: 1200px;
    /* Ajusta el ancho máximo según tus necesidades */
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

#twitch-embed,
.infobox {
    flex: 1;
}

#twitch-embed {
    text-align: center;
}

/* Gallery */

.image-container {
    gap: 1.4ren;
}

.image-container img {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 0.7rem;
    transition: transform 0.3s ease-in-out; /* Suaviza la transición */
}

.image-container img:hover {
    transform: scale(1.3); /* Aplica el zoom centrado */
}
.image-container#streams2 img:hover {
    transform: scale(1.2); /* Aplica el zoom centrado */
}

.image-container2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas con tamaño igual */
    gap: 10px; /* Espacio entre las imágenes */
    margin-top: 20px; /* Ajuste del margen superior */
}

.image-container2 a {
    display: block; /* Asegura que cada enlace ocupe todo el espacio disponible */
    text-align: center; /* Centra el texto (en caso de haber) dentro del enlace */
}

.SocialImage {
    width: 100%; /* Ocupa todo el ancho disponible en su contenedor */
    height: auto; /* Mantiene la proporción original de la imagen */
    max-width: 150px; /* Establece un ancho máximo para las imágenes */
    border-radius: 10px; /* Añade bordes redondeados para un aspecto más suave */
    transition: transform 0.15s ease-in-out; /* Efecto de transición al hacer hover */
}

.SocialImage:hover {
    transform: scale(1.1); /* Escala ligeramente la imagen al hacer hover */
}



#trucks,
#streams,
#other {
    columns: 15rem 2;
}

#streams2 {
    columns: 15rem 1;
}

#social {
    columns: 100px 3;
}

#imagebox {
    width: 80%;
}



.overlay-image {
    width: 100%;
    max-height: 90vh;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.overlay-image img {
    width: 100%;
    height: auto;
}

.overlay-image h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 5em;
    z-index: 2;
    margin: 0;
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 600px;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-inner img {
    width: 100%;
    display: none;
}

.info-wrapper {
    display: flex;
    gap: 20px;
    width: 100%;
}

.info-wrapper75 {
    display: flex;
    gap: 20px;
    width: 75%;
}


/* Media Queries */
@media only screen and (max-width: 1024px) {
    .info-wrapper {
        flex-direction: column;
    }

    .content-container {
        padding: 10px;
    }

    .overlay-image h1 {
        font-size: 3em;
    }

    .infobox {
        order: 1;
    }
}

@media only screen and (min-width: 1025px) {
    .info-wrapper {
        flex-direction: row;
        justify-content: space-between;
    }

    .infobox {
        width: 90%;
    }
}

.play {
    background: none;
    width: 50px;
    height: 50px;
    position: relative; 
    text-indent:-9999px;
    width: 90%;
    background-color: #0ee70a;
    margin-left: 5%;
    align-items: center;
    border-radius: 10px;
  }

.play span {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 20px solid #fff;
    border-bottom: 15px solid transparent;
    position:absolute;
    top:20%;
    left:49%;    
  }